@(unwatched: List[TVShow], watching: List[TVShow])

<html lang="">
    <head>
        <title>Minhas Séries</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top navbar-xs">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.index()"><span class="glyphicon glyphicon-film"></span> Minhas Séries</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <br>
                    <h2>Séries</h2>
                    <ul class="list-group">
                    @for(show <- unwatched) {
                        <li class="list-group-item serie">
                            <form method="post" action="@routes.Application.watch(show.getId())">
                                <h4>@show.getName()</h4>
                                <span class="pull-right">
                                    <button class="btn btn-xs inner-element" type="submit">
                                        <span class="glyphicon glyphicon-play-circle">Assistir</span>
                                    </button>
                                </span>
                            </form>
                            <br>
                            <ul class="list-group seasons">
                            @for(season <- show.getSeasons()) {
                            	<div class="season">
	                                <li class="list-group-item">
	                                    @season.getNumber()
	                                </li>
	                                <div class="episodes" id="episodes@season.getId()">
	                                    @for(episode <- season.getEpisodes()) {
	                                        <li class="list-group-item">Episódio @episode.getNumber(): @episode.getName</li>
	                                    }
	                                </div>
                                </div> 
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <br>
                    <h2>Acompanhando</h2>
                    <ul class="list-group">
                    @for(show <- watching) {
                        <li class="list-group-item serie">
                            <h4>@show.getName()</h4>
                            <abbr class="pull-right" title="Usando a estratégia @show.calculatorAsString()">
                            	<span class="glyphicon glyphicon-question-sign"></span>
                            </abbr>
                            <h6>Próximo: @show.getNextEpisode()</h6>
                            
                            
                            <form method="post" action="@routes.Application.setEpisodeGenerator(show.getId())">
                            	<select name="select-generator" id="select-generator" class="inner-element btn btn-default">
                            		<option value="" disabled>Selecione</option>
                            		<option value="older">Antigos</option>
                            		<option value="newer">Recentes</option>
                            		<option value="past-three">Regra de 3</option>
                            	</select>
                            	<input class="inner-element btn btn-default" type="submit" value="Alterar">
                            </form>
                            
                            <ul class="list-group">
                            @for(season <- show.getSeasons()) {
                            	<div class="season">
                                   <li class="list-group-item">
                                        Temporada @season.getNumber():
                                        @if(season.isNotWatched()) {
                                            Nenhum Episódio assistido
                                        }
                                        @if(season.isWatching()) {
                                            Assistindo
                                        }
                                        @if(season.isWatched()) {
                                            Assitida
                                        }
                                   </li>
                                   <div class="episodes" id="episodes@season.getId()">
                                        @for(episode <- season.getEpisodes()) {
                                            @if(!episode.isWatched()) {
                                                <li class="list-group-item">
                                                    <form method="post" action="@routes.Application.watchEpisode(episode.getId())">
                                                        @if(episode.equals(show.getNextEpisode())) {
                                                           Próximo a ser assistido! Episódio @episode.getNumber(): @episode.getName()
                                                        }
                                                        @if(!episode.equals(show.getNextEpisode())) {
                                                            Episódio @episode.getNumber(): @episode.getName()
                                                        }
                                                        <span class="pull-right">
                                                            <button class="btn btn-xs inner-element" type="submit">
                                                                <span class="glyphicon glyphicon-play-circle"></span>
                                                            </button>
                                                        </span>
                                                    </form>
                                                </li>
                                            }
                                            @if(episode.isWatched()) {
                                                <li class="list-group-item done">
                                                    Episódio @episode.getNumber(): @episode.getName()
                                                    <span class="pull-right">
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </span>
                                                </li>
                                            }
                                        }
                                   </div>
                               </div>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
            <!-- jQuery -->
        <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
            <!-- Bootstrap JavaScript -->
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/script.js")"></script>
    </body>
</html>
